{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{ dish1.name }}</span>!</h2>
								<p>You can order now {{ dish1.name }} and price is {{dish1.price }} !
									exclusive offer!!
								</p>
								<a href="{{ path('app_menu') }}" class="site-btn">Menu Card</a>
								<a href="#" class="site-btn sb-c2">Order Now</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{ asset('imagesUpload/brochures/' ~ dish1.image) }}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{ dish2.name }}</span>!</h2>
								<p>You can order now {{ dish2.name }} and price is {{dish2.price }} !
									exclusive offer!!
								</p>
								<a href="{{ path('app_menu') }}" class="site-btn">Menu Card</a>
								<a href="#" class="site-btn sb-c2">Order Now</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{ asset('imagesUpload/brochures/' ~ dish2.image) }}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->
{% endblock %}
